    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product - GEORGIANA IOANA COJOCARU</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ionicons/css/ionicons.min.css') }}" rel="stylesheet">

    <!-- main css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
       <!-- box-header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="{{ url_for('app.home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" width="80" alt="Logo"></a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box-header -->
        
        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">

                <li class="box-label">Menu</li>

                <li><a href="{{ url_for('app.home') }}">Home</a> <i class="ion-ios-circle-filled color"></i></li>
                <li><a href="{{ url_for('app.about') }}">About me</a></li>
                <li><a href="{{ url_for('app.services') }}">services</a></li>
                <li><a href="{{ url_for('app.portfolio') }}">portfolio</a></li>
                <li><a href="{{ url_for('app.contact') }}">contact me</a></li>
                <li><a href="{{ url_for('app.manage_products') }}">Manage Products</a></li>


            </ul>
        </nav>
        <!-- end nav -->
    </div>
    
    <!-- top-bar -->
    <div class="top-bar">
        <h1>{{ cake.cake_name }}</h1>
    </div>
    <!-- end top-bar -->
    
    <!-- main-container -->
    <div class="container main-container">
        <div class="col-md-12">
            <img src="{{ url_for('static', filename='img/' + cake.cake_image) }}" alt="Cake Image"  width="680" height="180px" class="img-responsive" />

            <div class="h-30"></div>
        </div>

        <div class="col-md-12">
            <h3 class="text-uppercase">{{ cake.cake_name }}</h3>
            <div class="h-30"></div>
        </div>

        <div class="col-md-9 text-justify">
            <p>{{ cake.cake_description }}</p>
        </div>

        <div class="col-md-3">
            <div class="h-10"></div>
            <h4>Contact</h4>
            <ul class="social-ul">
                <li class="box-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>
                <li class="box-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>
                <li class="box-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>
                <li class="box-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end main-container -->


    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2023 Georgiana's Sweet World. All rights reserved.</p>
        </div>
    </footer>
    <!-- end footer -->
    


    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <!--  plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>

</html>